body
{
	margin: 0;
	padding: 0;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background-color: #efefef;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

.header
{
	margin: 0;
	background-image: linear-gradient(#6b0896, #a658c4);
	background-image: -webkit-linear-gradient(#6b0896, #a658c4);
	background-image: -o-linear-gradient(#6b0896, #a658c4);
	background-image: -moz-linear-gradient(#6b0896, #a658c4);
	color : #ffffff;
	/*width: 1349px !important;*/
}

.branding {
	margin: 0 auto;
	padding: 10px;
	color:white;
}


.branding h1 {
	font-size: 400%;
	margin-bottom: 0px;
}

.branding h2 {
	margin-top: 5px;
	font-size: 200%;
}

.content {
    padding: 0px;
    margin: 0 auto;
    background-color: #F3F3F3;
    border-right: 1px solid #CCC;
    border-left: 1px solid #CCC;
    min-height: 500px;
}
.sidebar {
	margin-top: 10px;
}

.main-content {
	background-color: #FFF;
	margin: 0;
	border-left: 1px solid #ccc;
	min-height: 500px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.footer {
	background-color: #272727;
	text-align: center;
	color: white;
	margin-top: 0;
	/*width: 1349px !important;*/
}

.label-control {
	font-weight: 700;
}

.clear {
	clear: both;
}

.box {
	border: 1px solid #333;
	padding: 10px;
}


@media (max-width: 1024px) {
	.container {
		width: 100% !important;
	}
}

.number-box {
	width: 100%;
	position: fixed;
	padding: 10px;
	/*background-color:#d3d3d3;*/
	bottom:0;
	left:0;
	background: rgb(240,249,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */

}
.number-box > .container > ul > li > a {
	cursor:pointer;
}

.highlight {
}
.highlight.red{
	background-color: rgba(255, 59, 105, 0.4);
	color : #c90000;
}

#con-status {
	border-radius: 50%;
	border-width: 10px;
	width : 100px;
	height: 100px;
}
/**
* CSS themes for simplePagination.js
* Author: Flavius Matis - http://flaviusmatis.github.com/
* URL: https://github.com/flaviusmatis/simplePagination.js
*/

ul.simple-pagination {
	list-style: none;
}

.simple-pagination {
	display: block;
	overflow: hidden;
	padding: 0 5px 5px 0;
	margin: 0;
}

.simple-pagination ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.simple-pagination li {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}

/*------------------------------------*\
	Light Theme Styles
\*------------------------------------*/

.light-theme a, .light-theme span {
	float: left;
	color: black;
	font-size:14px;
	line-height:24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #BBB;
	min-width: 14px;
	padding: 0 7px;
	margin: 0 5px 0 0;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}	

.light-theme .answered, .light-theme .answered{
	background: rgb(31,230,0); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(31,230,0,1) 0%, rgba(21,181,40,1) 72%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(31,230,0,1)), color-stop(72%,rgba(21,181,40,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(31,230,0,1) 0%,rgba(21,181,40,1) 72%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(31,230,0,1) 0%,rgba(21,181,40,1) 72%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(31,230,0,1) 0%,rgba(21,181,40,1) 72%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(31,230,0,1) 0%,rgba(21,181,40,1) 72%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fe600', endColorstr='#15b528',GradientType=0 ); /* IE6-9 */
}

.light-theme a:hover {
	text-decoration: none;
	background: yellow;
}

.light-theme .current {
	background: #666;

	color: #FFF;
	border-color: #444;
	box-shadow: 0 1px 0 rgba(255,255,255,1), 0 0 2px rgba(0, 0, 0, 0.3) inset;
	cursor: default;
}

.light-theme .ellipse {
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	font-weight: bold;
	cursor: default;
}
/*
@media (min-width: 480px) {
	.container {
		width: 100%;
	}
}*/